body
{
    margin: 0;
    padding: 0;
    background: #e0ece4;
}
.container {
  display: grid;
  grid-template-columns: 300px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:  sans-serif;
}

.card {
  background-color: #173d0e;
  height: 35rem;
  border-radius:25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -2px -1px 24px 2px rgba(247, 149, 2, 0.64);
  color: white;
}

.card-name {
  margin-top: 32px;
  font-size: 1.5em;
  font-weight: 600;
}

.card-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #272133;
  margin-top: 20px;
  box-shadow: 0 5px 40px #fff;
}
.card-image:hover{
  transform: scale(0.9);
  transition: all 265ms ease-in;
}
.card-name:hover{
	color: rgb(248, 7, 87);
	cursor: pointer;
  transform: scale(0.9);
  transition: all 265ms ease-in;
}
.grid-child-Location:hover{
  color: rgb(248, 112, 253);
	cursor: pointer;
  transform: scale(1.2);
  transition: all 265ms ease-out;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #166769;
  color: #fff;
    font-family: sans-serif;
    border-radius: 25px;
  transition: 0.5s;
  position: relative;
}
.draw-border:hover {
    color: rgb(46, 24, 24);
    background: rgb(252, 250, 250);
    transition: 0.5s;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.2;
  font: 600 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 10px;
  width: 10rem;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
  margin: 1.5em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #111;
    font-size: 20px;
    font-weight: 800;
  position: absolute;
   top: 13px;
    left: 14px;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: #fff;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2);
  color: #fff;
  background:  #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}


.grid-container {
  display: grid;
    color: #58cdd1;
    font-family: sans-serif;
    font-weight: 600;
  font-size: 1.1em;
    margin-top: -15px;
    text-align: center;
}
.close{
  position: absolute;
  top:33;
  left:510;
	font-size: 30px;
	transform: rotate(45deg);
	cursor: pointer;
	transition: all 0.3s;
}

.close:hover{ transform: rotate(-45deg) scale(1.3);
 }
  
body[data-light-mode="dark"] {
  background-color: rgb(38, 136, 136);
  color: rgb(3, 24, 51);
}
body[data-light-mode="dark"] button {
  background-color: rgb(90, 58, 58);
  color: rgb(80, 51, 51);
}

#img{
  position: absolute;
  top:38;
  left:750;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
#img:hover{
  transform: scale(1.2);
  transition: all 265ms ease-out;
}

.intro{
  display: flex;
  color:wheat;
  margin-bottom: 15px;
  margin-left: -20px;
  height: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
}
.typing{
  margin-left: 7px;
}
 
 